body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
h1{
    font-size: 45px;
    padding: 0px 100px;
    margin-top: 100px;
}
.color-blue{
    color: dodgerblue;
}
p{
    padding: 0px 100px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 55px;
}
.half-width img{
    width: 70%;
    padding-left: 100px;
    margin-top: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#A5D46B, #0387F4);
    margin-left: 200px;
    padding: 15px 35px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
}
.backg-frame{
    background-image: url(images/Frame\ 57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.food-items h1{
    text-align: center;
}
.food-items p{
    text-align: center;
    padding: 0px 300px;
}
.recipes{
    display: flex;
    margin: 0px 100px;
}
.food-info{
    width: 30%;
    margin-bottom: 100px;
    padding: 15px;
    box-shadow: 0px 5px 35px 5px #c5c49f;
    border-radius: 20px;
    margin-right: 50px;
}
.food-pic{
    width: 100%;
}
.food-pic img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.food-details p{
    margin-bottom: 20px;
    padding: 0px;
    text-align: justify;
    font-size: 15px;
}